DB_DRIVER=pgx
DB_DIALECT=postgres
DB_DSN=postgres://app:secret@localhost:6543/app?sslmode=disable&application_name=hexlet-go-sql
CMD=user-create
EMAIL=test@example.com
NAME=Demo User
COURSE=Graph Theory 101
USER_ID=1
COURSE_ID=1
